h1 Welcome, #{admin}

div.dash_nav
  ul
    li
      a(href="/post/new")!="New Post"
    li
      a(href="/post/my_posts")!="My Posts"
    li
      a(href="/")!="View Blog"
    li
      a(href="/logout")!="Logout"