extends layout

block head
  script.
    window.onload = function(){
      document.getElementById('editContent').innerHTML = "#{post.content}";
    }

block content
  div.signup
    form(method="post")
      div
        div
          span.label Title:
          input(type="text", name="title", id="editTitle", value=post.title)
        div
          span.label Content:
          textarea(name="content", id="editContent")
        h3 Categorias do Post
        div
          - categories.forEach(function(category) {
            - var check = false
            - post.categories.forEach(function(id) {
              - if(id.equals(category._id)) {
                - check = true
              - }
            - });
            input(type="checkbox", name="categories", checked=check, value=category._id)
            =category.name
          - });
        div#editUserSubmit
          input(type="submit", value="Update post")
      a(href="/post/my_posts")!= "Back to my posts"